h1, h2, h3 { font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
strong { font-family: 'Oxygen', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.input-min { width: 30px; }
.project-form { padding-bottom: 0px; }
.green { color: #7CBC15; }
.hide { display: none; }
.hero-unit { 
    background-color: transparent;
    padding: 0px;
    margin-top: 25px;
}
.btn-success {
  background-color: #7CBC15;
  background-image: -moz-linear-gradient(top, #7CBC15, #69a20e);
  background-image: -ms-linear-gradient(top, #7CBC15, #69a20e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7CBC15), to(#69a20e));
  background-image: -webkit-linear-gradient(top, #7CBC15, #69a20e);
  background-image: -o-linear-gradient(top, #7CBC15, #69a20e);
  background-image: linear-gradient(top, #7CBC15, #69a20e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7CBC15', endColorstr='#69a20e', GradientType=0);
  border-color: #69a20e #69a20e #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover { background-color: #69a20e; }
a { color: #55A4F2; }
a:hover { color: #1071D1; }
.hero-unit h1 { letter-spacing: -.075em; }
.incognito { color: #000000; }
.incognito:hover { color: #000000; }
.buttondiv { 
    padding: 0px;
    margin-right: -72px;
    margin-bottom: 0px;
}
.buttons { margin-bottom: 0px; }
.infobox { 
    text-align: right; }
.infobox p { padding: 0px; }
.about { 
    margin-bottom: 0px;
    text-align: right;
    font-size: 80%; }
#about { margin-top: 38px; }  
