<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/static/about.css" type="text/css">
<title>
Kicksaver: Find and save Kickstarter projects ending soon.
</title>
<script type="text/javascript" src="static/analytics.js"></script>
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>Kick<span class="green">saver</span></h1>
            <h3>Find and save <a href="http://kickstarter.com" class="incognito">Kickstarter</a> projects ending soon.</h3>
        </div>
        <div class="row">
            <div class="span6 well">
            <p>
            <a href="http://twitter.com/ecmendenhall">E.C. Mendenhall</a> 
            made Kicksaver to help out struggling <a href="http://kickstarter.com">Kickstarter</a> projects and 
            practice working with <a href="https://developers.google.com/appengine/">Google App Engine</a> and
            <a href="">AJAX</a>. The backend uses <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a>
            to parse Kickstarter projects, and the frontend uses styles from 
            <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>. This project
            was inspired by <a href="http://kickstarter.com">Kickstarter</a>, but is not officially affiliated in any way.
            All the code for this project is available
            on <a href="http://github.com/ecmendenhall/Kicksaver">GitHub</a> under an MIT license. 
            </p>          
            <p>
            <a class="pull-right green" onclick="history.back()"><strong>Back</strong></a>
            <noscript><a href="http://www.kicksaver.net">class="pull-right">Back</a>
            </p>
            </div>
        </div>
    </div>
</body>

