<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/static/index.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<title>
Kicksaver: Find and save Kickstarter projects ending soon.
</title>
<meta itemprop="name" content="Kicksaver: Find and save Kickstarter projects ending soon.">
<meta itemprop="description" content="Kicksaver finds Kickstarter projects that will end soon without meeting their funding goals. If you have $20 to spare, you can help save a struggling project!">
<meta property="og:title" content="Kicksaver: Find and save Kickstarter projects ending soon." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.kicksaver.net" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="Kicksaver" />
<meta property="fb:admins" content="10134383" />
<script type="text/javascript" src="static/analytics.js"></script>
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>Kick<span class="green">saver</span></h1>
            <h3>Find and save <a href="http://kickstarter.com" class="incognito">Kickstarter</a> projects ending soon.</h3>
        </div>
        <div class="row">
            <div class="span6 well">
            <form action="/project" class="form-inline">
            <div class="input-prepend">
            <p>I'm willing to spend up to <span class="add-on">$</span><input type="text" value="100" name="b" class="input-min"> 
               to save a struggling project.</p>
            </div>
            <input type="submit" value="Save something!" class="btn btn-large btn-success">
            </form>
            </div>
            <div class="span3 well infobox">
                <p>Follow <strong><a href="http://twitter.com/Kicksaver">@Kicksaver</a></strong> for live updates on projects ending soon.</p>
                <div class="buttondiv">
                <p class="pull-right buttons">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Kicksaver: Find and save Kickstarter projects ending soon." 
                   data-via="Kicksaver" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <g:plusone size="medium" annotation="none"></g:plusone>
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.kicksaver.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=101479082512" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
                </p>
                </div>
                <div>
                <p id="about">
                <strong><a href="/about"class="about pull-right">About</a></strong>
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
