<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/bootstrap.css" type="text/css">
<style>
.input-min { width: 30px; }
.project { 
    float: left; 
    background-color: #eeeeee;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.project-info { margin: 0px 10px; }
.project-form { padding-bottom: 0px; }
.green { color: #7CBC15; }
.hide { display: none; }
.hero-unit { 
    background-color: #ffffff;
    padding: 0px;
    margin-top: 25px;
}
</style>
<title>
Kicksaver: Under ${{ initial_budget }}
</title>
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>Kick<span class="green">saver</span></h1>
            Find and save Kickstarter projects ending soon.
        </div>
        <div class="row">
            <div class="span6 well project-form">
            <form action="/project" id="projectform" class="form-inline">
            <div class="input-prepend">
            <p>I'm willing to spend up to 
            <span class="add-on">$</span><input type="text" value="{{ initial_budget }}" name="b" class="input-min"> 
            to save a struggling project.</p>
            </div>
            <p><input type="submit" value="Save something!" class="btn btn-large"></p>
            </form>
            </div>
        </div>
        <div class="row">
            <div class="span12 well">
            {% if project_dicts %}
                <div>
                {% if budget_toolow %}
                There are no projects within <strong>${{ initial_budget }}</strong> of their goal, but these are pretty close.
                {% endif %}
                {% if not budget_toolow %}
                <p>There are <strong>{{ projects }}</strong> projects you can save.</p>
                {% endif %}
                <p>
                <form class="form-inline" method="get" action="/project">
                   Sort by:
                   <select id="sortby" class="span2" name="sort" form="projectform" onchange="this.form.submit();">
                        {% if sort == 'soon' %}
                        <option value="soon">Ending soonest</option>
                        <option value="close">Closest to goal</option>
                        {% endif %}
                        {% if sort == 'close' %}
                        <option value="close">Closest to goal</option>
                        <option value="soon">Ending soonest</option>
                        {% endif %}
                    </select>
                    <noscript><input type="submit" value="Submit" class="btn"></noscript>
                </form>
                </p>
                </div> 
                {% for project in project_dicts %}
                <div class="project">
                    <iframe frameborder="0" height="380px" 
                     src="{{ project.link }}" width="220px"></iframe>
                    <div class="project-info">
                        <ul class="unstyled">
                        <li><strong>${{ project.left }}</strong> from its goal.</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div>
                <form method="get" action="/project">
                <input form="projectform" type="number" name="p" value="{{ pages }}" class="hide" id="page">
                <button form="projectform" type="submit" name="more" value="True" class="btn btn-large">More</button>
                </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

