<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/bootstrap.css" type="text/css">
<link rel="stylesheet" href="static/projects.css" type="text/css">
<title>
Kicksaver: Under ${{ initial_budget }}
</title>
<script type="text/javascript" 
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
</script>
<script type="text/javascript">
function ProjectDict() {
    this.loaded = false;
    this.cursor = 0;
    this.project_data= {"projects":[]};
};
var project_dict = new ProjectDict();
$(document).ready(function() {
    $('#more').bind('click', function () {
        if (project_dict.loaded == false) {
            project_dict.loaded = true;
            var budget = {{ budget }}
            var sort = '{{ sort }}'
            $.get("/more?b=" + budget + "&sort=" + sort, function(data) {
                var dict = jQuery.parseJSON(data);
                project_dict.project_data = dict;            
            });
        }
        var cursor = project_dict.cursor
        var newcursor = project_dict.cursor + 8;
        project_dict.cursor = newcursor;
        var projects = project_dict.project_data["projects"].slice(cursor, newcursor);
        console.log(projects);
        for (var project in projects) {
            var project_container = $('#project-container');
            project_container.append('<div class="project"><iframe frameborder="0" height="380px" width="220px"></iframe><div class="project-info"><ul class="unstyled"><li><strong class="amount-left"></strong> from its goal.</li></ul></div></div>');
            var project_divs = project_container.children();
            var project_div = project_divs[project_divs.length - 1];
            var iframe = $(project_div).children('iframe')[0];
            $(iframe).attr("src", projects[project]["link"]);
            $(project_div).find('.amount-left').text('$' + projects[project]["left"]);
            }
    });
});
</script>
<script type="text/javascript" src="static/analytics.js"></script>
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>Kick<span class="green">saver</span></h1>
            <h3>Find and save <a href="http://kickstarter.com" class="incognito">Kickstarter</a> projects ending soon.</h3>
        </div>
        <div class="row">
            <div class="span6 well project-form">
            <form action="/project" id="projectform" class="form-inline">
            <div class="input-prepend">
            <p>I'm willing to spend up to 
            <span class="add-on">$</span><input type="text" value="{{ initial_budget }}" name="b" class="input-min"> 
            to save a struggling project.</p>
            </div>
            <p><input type="submit" value="Save something!" class="btn btn-large btn-success green-button"></p>
            </form>
            </div>
        </div>
        <div class="row">
            
            {% if project_dicts %}
            <div class="span12 well">
                <div>
                {% if budget_toolow %}
                <h3>
                There are no projects within <span class="green">${{ initial_budget }}</span> of their goal, but these are pretty close.
                </h3>
                {% endif %}
                {% if not budget_toolow %}
                    {% if projects == 1 %}
                    <h3>There is currently <strong class="green">{{ projects }}</strong> project you can save.</h3>
                    {% endif %}
                    {% if projects != 1 %}
                    <h3>There are currently <strong class="green">{{ projects }}</strong> projects you can save.</h3>
                    {% endif %}
                {% endif %}
                <p>
                <form class="form-inline" method="get" action="/project">
                   Sort by:
                   <select id="sortby" class="span2" name="sort" form="projectform" onchange="this.form.submit();">
                        {% if sort == 'soon' %}
                        <option value="soon">Ending soonest</option>
                        <option value="close">Closest to goal</option>
                        {% endif %}
                        {% if sort == 'close' %}
                        <option value="close">Closest to goal</option>
                        <option value="soon">Ending soonest</option>
                        {% endif %}
                    </select>
                    <noscript><input type="submit" value="Submit" class="btn"></noscript>
                </form>
                </p>
                </div>
                <div id="project-container"> 
                {% for project in project_dicts %}
                <div class="project">
                    <iframe frameborder="0" height="380px" 
                     src="{{ project.link }}" width="220px"></iframe>
                    <div class="project-info">
                        <ul class="unstyled">
                        <li><strong>${{ project.left }}</strong> from its goal.</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                </div>
                {% if projects > 8 %}
                <div class="span10">
                <noscript>
                <form method="get" action="/project">
                <input form="projectform" type="number" name="p" value="{{ pages }}" class="hide" id="page">
                <button form="projectform" type="submit" name="more" value="True" class="btn btn-large">More</button>
                </form>
                </noscript>
                <button class="btn btn-large" id="more"><span class="cursorcontainer" id="0">More</span></button>
                </div>
                {% endif %}
                
            </div>
            {% endif %}
            
        </div>
        <div class="about">
            <a href="/about"class="pull-right">About Kicksaver</a>
        </div>
    </div>
</body>

